.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  /*border: 1px solid red;*/ /*здесь и далее закомментированы границы для наглядности при верстке*/
  display: flex;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
}

.logo {
  /*border: 1px solid red;*/
  position: absolute;
  background-image: url(../images/logo_place_header.svg);
}

.logo_place_header {  
  margin-top: 30px;
  margin-left: 64px;
  width: 183px;
  height: 32px;
  z-index: 100;
}

.header__title {
  /*border: 1px solid red;*/
  width: 730px;
  align-self: center;
  margin-left: 64px;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
}

.header__subtitle {
  /*border: 1px solid red;*/
  position: absolute;
  width: 388px;
  margin: 0;
  align-self: flex-end;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 99;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  /*border: 1px solid red;*/
  position: absolute;
  bottom: 0;
  right: 0;
  width: 765px;
  height: 608px;
  background-image: url(../images/header-image.png);
  background-size: cover;
  background-position: right;
  z-index: 1;
}

.header__square-pic {
  /*border: 1px solid red;*/
  position: absolute;
  right: 0;
  top:64px;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}

.description {
  /*border: 2px solid orange;*/
  display: flex;
  justify-content: space-around;
}

.two-columns {
  /*border: 1px solid orange;*/
  display: flex;
  width: 80%;
  margin-top: 100px;
  justify-content: space-between;
}

.two-columns__brief {
  /*border: 1px solid orange;*/
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  align-self: stretch;
  color: #2f80ed;
}

.two-columns__main-text {
  /*border: 1px solid orange;*/
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph {
  /*border: 1px solid orange;*/
  margin: 0;
}

.two-columns__paragraph:nth-of-type(2n) {
  margin: 30px 0;
}

.two-columns__span-accent {
  /*border: 1px solid orange;*/
  font-weight: bold;
}

.digits {
  /*border: 2px solid green;*/
  display: flex;
  flex-direction: column;
  padding: 100px 0;
}

.digits__title {
  /*border: 1px solid green;*/
  width: 60%;
  margin: 0 auto;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.digits__subtitle {
  /*border: 1px solid green;*/
  width: 60%;
  margin: 20px auto 0 auto;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

.table {
  /*border: 2px solid yellow;*/
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 1100px;
  margin: 0 auto;
}

.table__cell {
  /*border: 2px solid green;*/
  width: 250px;
  margin: 60px 0 0 0;
}

.table__heading {
  /*border: 1px solid green;*/
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
  /*border: 1px solid green;*/
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feinman {
  /*border: 2px solid blue;*/
  display: flex;
  height: 790px;
  flex-direction: column;
  position: relative;
  padding-top: 100px;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-repeat: no-repeat;
}

.feinman__title {
  /*border: 1px solid blue;*/
  width: 648px;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feinman__subtitle {
  /*border: 1px solid blue;*/
  margin: 70px auto 0;
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feinman__link {
  /*border: 1px solid blue;*/
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #000000;
}

.kaufman {
  /*border: 3px solid brown;*/
  position: relative;
  flex-direction: column;
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #1f1f1f;
  overflow: hidden;
}

.kaufman__title {
  /*border: 1px solid brown;*/
  margin: 0 auto;
  text-align: center;
  width: 60%;
  line-height: 69px;
  font-size: 60px;
  font-weight: bold;
}

.kaufman__title_theme_dark {
  color: #ffffff;
}

.kaufman__subtitle {
  /*border: 1px solid brown;*/
  margin: 20px auto 0;
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.kaufman__subtitle_theme_dark {
  color: #ffffff;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 2;
}

.kaufman__triangle {
  /*border: 1px solid palegreen;*/
  position: absolute;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-size: cover;
  top: 0;
  right: -210px;
  z-index: 1;
}

.footer {
  /*border: 2px solid grey;*/
  display: flex;
  position: relative;
  min-height: 350px;
  background-color: #1f1f1f;
  color: #ffffff;
}

.footer__columns {
  /*border: 1px solid grey;*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 90%;
  margin: 60px auto 40px auto;
}

.footer__column_content_copyright {
  /*border: 1px solid grey;*/
  flex-basis: 711px;
  display:flex;
}

.logo_place_footer {
  /*border: 1px solid grey;*/
  background-image: url(../images/logo_place_footer.svg);
  margin: 0;
  width: 183px;
  height: 35px;
}

.footer__author {
  /*border: 1px solid grey;*/
  align-self: flex-end;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 18px 0;
}

.footer__column_content_info {
  /*border: 1px solid grey;*/
  margin: 0;
  align-self: stretch;
}

.footer__column-heading {
  /*border: 1px solid grey;*/
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
}

.footer__column-links {
  /*border: 1px solid grey;*/
  display: flex;
  flex-direction: column;
  margin: 20px 0 16px 0;
}

.footer__column_link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
}
.footer__column_content_social {
  /*border: 1px solid grey;*/
  margin: 0;
  align-self: stretch;
}

.footer__column_social-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #ffffff;
  text-decoration: none;
}

.footer__social-icon {
  margin-right: 10px;
  width: 16px;
  height: 16px;
}



